.footer {
    background-color: #141414;
    position: absolute;
    height: 2.5rem;
    width: 100%;
    bottom: 0;
}

.siteInfo {
    font-family: futura-pt;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-decoration: none;
    line-height: 1em;
    color: #ffffff;

    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 100%;
    text-align: center;
}

.contact{
    font-family: futura-pt;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-decoration: none;
    line-height: 1em;
    color:#ffffff;
}

.contact:hover {
    color: #141414
}