.video-responsive {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
}

.video-responsive iframe {
    height: 800px;
    width: 80%;
    margin-left: 10%;
    margin-top: 60px;
    position: absolute;
    border-radius: 25px;
}