.video-container {
    display: grid;
    grid-template-columns: 300px auto 300px;

    width: 100%;
    padding-top: 20px;
    position: inherit;
}

.course {
    display: grid;
    grid-template-columns: 50% 50%;

    width: 100%;
    height: 100%;
    padding: 20px 0 50px;
    align-items: end;
    position: relative;
}

.img-container {
    display: inline-block;
    width:60%;
    height:100%;

    padding-top: 75px;
    justify-self: center;
}

.img-card{
    width: 100%;
    height: 100%;
}

.content-container {
    display:inline-block;

    width: 80%;
    height: 85%;

    justify-self: center;
    align-items: center;
}

.content-container h1 {
    font-weight: 900;
    font-style: normal;
    font-size: 32px;
    letter-spacing: 1px;
    text-transform: none;
    line-height: 1.2em;

    padding-top: 25px;
}

.content-container p {
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    letter-spacing: 1px;
    text-transform: none;
    line-height: 1em;

    padding: 20px 30px 0 0;
}

.video {
    height: 750px;
    width: 100%;
    margin: 0 auto;
    align-items: center;
}

.section {
    padding-bottom: 20px;
    width: 100%;
}