.cards {
    width: 100%;
    padding-top: 10px;
    display: grid;
    grid-template-columns: auto auto auto;
}

.videos {
    height: 920px;
    width: 100%;
}

.about {
    display: grid;
    grid-template-columns: 40% 60%;
    width: 100%;
    padding: 50px 0;
}

.about:before {
    content: "";
    position: absolute;
    left: 25%;
    bottom: 0;
    height: 1px;
    width: 50%;
    border-bottom: 1px solid gray;
}

.avatar {
    justify-self: center;
    border-radius: 50%;
    transform: scale(1);
    transition: 0.5s ease;
    height: 260px;
    width: 260px;
}

.avatar:hover {
    transform: scale(1.1);
    transition: 0.5s ease-in-out;
}

.about-content {
    display: block;
    padding-right: 15%;
    text-align: flex-start;

    font-family: futura-pt;
}

.about-content h2 {
    font-weight: 900;
    font-style: normal;
    font-size: 42px;
    letter-spacing: 1px;
    text-transform: none;
    line-height: 1.2em;
}

.about-content p {
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    letter-spacing: 1px;
    text-transform: none;
    line-height: 1em;
}

.gallery {
    width: 100%;
    padding: 0 100px 100px;
    height: max-content;
    min-height: 800px;
    justify-content: center;
}

.page-container {
    position: relative;
    min-height: 100vh;
    padding-bottom: 5rem;
}

.feedback {
    display: grid;
    grid-template-columns: 25% 50%;
    padding: 20px 100px 30px 300px;
    height: 300px;
}

.student {
    display: flex;
    justify-content: center;
    border-right: 1px solid gray;
    padding: 15px 0px;
    background-color: aliceblue;
    border-radius: 30px 0 0 30px;
}

.comment {
    background-color: aliceblue;
    padding-right: 30px;
    border-radius: 0 30px 30px 0;
}

.comment h2 {
    font-weight: 900;
    font-style: normal;
    font-size: 30px;
    letter-spacing: 1px;
    text-transform: none;
    line-height: 1.2em;

    padding-top: 10px;
    text-align: end;
}

.comment p {
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    letter-spacing: 1px;
    text-transform: none;
    line-height: 1em;

    padding: 20px 15px 0;
    text-align: center;
}