.card-container {
    flex: 300px;
    margin: 30px;
}

.card-container .card {
    font-weight: bold;
    position: relative;
    width: 100%;
}

.card-container .card a {
    padding: 30px;
    width: 100%;
    height: 350px;
    border: 2px solid black;
    background: white;
    text-decoration: none;
    color: black;
    display: block;
    transition: 0.25s ease;
    border-radius: 25px;
}

.card-container .card a:hover {
    transform: translate(-30px, -30px);
    border-color: #5bc0eb;
}

.card-container .card a:hover .card--display {
    display: none;
}

.card-container .card a:hover .card--hover {
    display: block;
}

.card-container .card a .card--display h2 {
    margin: 20px 0 0;
    text-transform: uppercase;
}

.card-container .card a .card--hover {
    display: none;
}

.card-container .card a .card--hover h2 {
    margin: 20px 0;
    text-transform: uppercase;
}

.card-container .card a .card--hover p {
    font-weight: normal;
    line-height: 1.5;
}

.card-container .card .card--border {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    border: 2px dashed black;
    z-index: -1;
    border-radius: 25px;
}